.container {
    height: 100vh;
    box-sizing: border-box;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    flex-direction: column;
}

.input {
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 25px;
    width: 150px;
}

.button {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 100px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold
}

.button:first-child:hover {
    background-color: lightgreen;
}

.button:last-child:hover {
    background-color: lightcoral;
}