/* task1 */
/* .bordered {
    border: 1px solid red;
}

.cursiv {
    font-style: italic;
}

.popup {
    background-color: black;
    color: white;
}

button {
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
} */
/* task1 */

/* task3 */
/* .App {
    font-family: sans-serif;
    text-align: center;
}
  
.app {
    display: flex;
    flex-wrap: wrap;
} */
/* task3 */


/* task2 */

/* task2 */